:root {
    --c-kashmir-blue: #5168a8;
    --c-bondi-blue: #0a94ba;
    --c-eastern-blue: #2285b4;
    --c-atoll: #dfdfdf;
    --c-white: #fff;
    --c-silver: #c0c0c0;
    --nav-height: 5rem;
    --font-size-h1: 2.3125rem;
    --font-size-h2: 1.875rem;
    --font-size-h3: 1.5rem;
    --font-size-h4: 1.25rem;
    --font-size-base: 18px;
    --font-color: var(--c-kashmir-blue);
    --font-color--secondary: var(--c-bondi-blue);
    --bg-main: var(--c-atoll);
    --bg-main--light: #e6e6e6;
    --gradient-main: linear-gradient(35deg, var(--c-kashmir-blue) 0%, var(--c-bondi-blue) 100%);
    --gradient-main-reverse: linear-gradient(35deg, var(--c-bondi-blue) 0%, var(--c-kashmir-blue) 100%);
    --gradient-text-right: linear-gradient( 49deg, var(--c-kashmir-blue) 0%, var(--c-kashmir-blue) 47%, var(--c-bondi-blue) 53%, var(--c-bondi-blue) 100% );
    --gradient-text-top: linear-gradient( 0, var(--c-kashmir-blue) 0%, var(--c-kashmir-blue) 47%, var(--c-bondi-blue) 53%, var(--c-bondi-blue) 100% );
    --gradient-text-bottom: linear-gradient( 0, var(--c-bondi-blue) 0%, var(--c-bondi-blue) 47%, var(--c-kashmir-blue) 53%, var(--c-kashmir-blue) 100% );
    --nav-box-shadow: 0 0 10px -3px rgba(81, 104, 168, 0.75);
    --accent-beast: rgb(255, 184, 18);
    --accent-plant: rgb(108, 192, 0);
    --accent-aquatic: rgb(0, 184, 206);
    --accent-bird: rgb(255, 139, 189);
    --accent-reptile: rgb(200, 138, 224);
    --accent-bug: rgb(255, 83, 65);
    --accent-hidden1: rgb(198, 188, 212);
    --accent-hidden2: rgb(190, 206, 255);
    --accent-hidden3: rgb(54, 154, 183);
    --layer-notifications: 5;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.eot');
    src: local('☺'), url('fonts/Poppins-Regular.woff') format('woff'), url('fonts/Poppins-Regular.ttf') format('truetype'), url('fonts/Poppins-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
p, span, strong, a, html,div ,nav, button, label{
    font-family: 'Poppins-Regular';
    color: rgb(81, 104, 168);
}
a:visited{
    color: rgb(81, 104, 168)
}

body, html {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-main);
}
body {
    font-size: var(--font-size-base);
    box-sizing: border-box;
    overflow-x: hidden;
}
a {
    color:rgb(81, 104, 168);
    text-decoration: none;
}
#header {
    background: none;
    margin-bottom: 0;
}
#header .navbar-brand{
    font-weight: bold;
    font-size: 30px;
    color: rgb(81, 104, 168);
}
#header .navbar-nav  li a {
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: rgb(81, 104, 168);
}
 .btn,a.btn{
     color: #fff;
    position: relative;
    z-index: 1;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 2.85em;
    padding: 0 1.5em;
    min-width: 12em;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    outline: none !important;
    font-family: inherit;
    font-size: 1.1875rem;
    font-weight: 500;
    text-transform: uppercase;
    border: 0 solid transparent;
    border-radius: 2.5em;
    background-clip: padding-box;
    /*background: var(--gradient-main);*/
    background: var(--gradient-main);
    /*background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));*/
}
 a.btn{
     padding-top: 10px;
 }
.tableLoan th,.tableLoan tr td {
    color: #000;
}
.pageTitle { color: #000}
#form-danhba label{
    float:left
}
#form-danhba input{
    border-radius: 2.5em;
}
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;

}
.table td{
    color:#000;
}
#result {
    width: 1100px;
    height: 500px;
    overflow: auto;
}
#result table{

    display: block;
    overflow-x: auto;
    white-space: nowrap;
}
